.paragraf {
    font-family: Arial, Helvetica, sans-serif;
}

.qadro {
    width: 200px;
    height: 100px;
    background-color: rgb(225, 225, 225);
    border-radius: 3px;
}

.kartinka {
    height: 100px;
    width: 75px;
}
.dvAqadro{
    width: 200px;
    height: 100px;
    background-color: rgb(225, 225, 225);
    border-radius: 3px;
    margin-left: 210px;
    margin-top: -99px; 
    
}
.kartina{

    height: 100px;
    width: 200x;
    
}
.knopa{
    

}